table{
    font-family: Helvetica, Arial, "Times New Roman", sans-serif;
    font-size: 110%;
    font-weight: normal;
    line-height: 250%;
    width: 95%;
    margin: 10%;
    margin-top: 3%;
}
table th {
    background-color: #979cd1;
    -webkit-background: linear-gradient(#979cd1, #2dc479);
    -moz-background: linear-gradient(#979cd1, #2dc479);
    -o-background: linear-gradient(#979cd1, #2dc479);
    background: linear-gradient(#979cd1, #2dc479);
    border: solid #3f99ab;
    border-bottom-width: 5px;
    border-radius: 7px 7px 0px 0px;
    color: #f0f0f0;
    font-size: 125%;
    text-shadow: 2px 2px grey;

}
th:first-child{
    text-align: left;
    padding-left: 1%;
}
tr{
    background-color: #9dd4b8;
    opacity: .8;
    text-align: center;
}
td:first-child{
    text-align: left;
}
tr:hover{
    opacity: 1;
}
td{
    padding: 1%;
    color:#424748;
    background-color:#9dd4b8;
    border-radius: 2px;
}
